<div>Body 3 comes here</div>
 
    <p>Content: {{components.row1column0.content}}  </p>
     <p>Component: {{components.row1column0.component}} </p> 

{{#contains components.row1column0.content}}   
     {{#content contents components.row1column0.content }}
        <p>pagecontentname --> {{this.pagecontentname}}</p>
        <p>contentname --> {{this.contentname}}</p>
        <p>contents.text--> {{this.contents.text}}</p>
        <p>templates.filename--> {{this.templates.filename}}</p>
     {{/content}} 
{{/contains }}  

{{#contains components.row1column0.component}}  
     <p>Component  --> {{components.row1column0.component}} </p> 
     {{>( partial components.row1column0.component pageData=pageData )}} 
{{/contains }} 

<p>row2column0</p> 
<p>row3column0</p>
